<div class="root row justify-content-around">
    <div class="createBox col-6 cakesviewer">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Quote</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <div *ngFor="let quote of theAuthor._quotes">
                    <tr>
                        <td>{{quote.content}}</td>
                        <td>{{quote.value}}</td>
                        <td><a href="" class="btn btn-primary">Upvote</a> <a href=""
                                class="btn btn-secondary">Edit</a></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

</div>